---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="introduce">
  <div>
  <!-- my about 쓰는 곳 -->
    <h1 id="home-title-text">About</h1>
    <h1 id="about-text" >Data Engineer 송윤호입니다.</h1> 
    <h1 id="about-text">factory내의 machine 데이터 추출에서부터 DB적재 및 분석까지의 업무를 수행하고 있습니다.</h1>
    <h1 id="about-text">데이터 인프라 구축과 데이터 분석에 관심이 많습니다.</h1>
  <!-- <h1 id = 'about-text'> </h1>  -->
  </div>

  <div>
    <h2 id="home-title-text">Skill</h2>
    <h2>Language</h2>
    <h2 id="about-text">- Python</h2>
    <h2 id="about-text">- C#</h2>
    <h2>Database</h2>
    <h2 id="about-text">- NoSql</h2>
    <h2 id="about-text">- MySql</h2>
    <h2>DeepLearning</h2>
    <h2 id="about-text">- NLP</h2> 
    <h2>etc</h2>
    <h2 id="about-text">- PyQt</h2>
  </div> 
</ul>  


<ul class="posts">
    <!-- <li>
      <h1 id="posts-label">posts</h1>
    </li> -->

    <!-- {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%} -->
    <h1 id="home-title-text">Projects</h1>
    <h2 id="project-title-text">AI-Coverletter-Assistant</h2>
    <div>
      <p>AI-Coverletter-Assistant 프로젝트는 Coverletter 작성에 도움을 줄 서비스를 제공합니다. </p>
      <p>NLP 기술을 이용한 문장생성, 유의어 추천, 제목요약 등의 서비스를 제공하여 Coverletter 작성시간을 
        단축시키는 데 초점을 두었습니다. </p>
    </div>

    <details id="details-text">
      <!-- <summary>세부내용</summary> -->
      <div style="padding: 15px;">
        <h3>Used Tech</h3>
        <div id="project-rectangle">
        <li>
          <h3 class="post-title">Crawling</h3>
          
          <div class="post-meta">
            <ul class="post-categories"><li>Python</li><li>Multi Thread</li></ul>
          </div>
          <div>
            <p>Coverletter 데이터 수집에 사용된 crawling 기술입니다.</p>
            <p>대량의 데이터를 Crawling 하면서 시간단축을 위해 Thread 기법을 사용하였습니다.</p>
            <p>다중 for문이 사용되는 구간에 다중 thread를 접목해서 시간을 단축시켰습니다. </p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Utils/crawling.py" target="_blank">Multi Thread py script github</a>
    
        </li>
    
        <li>
              <h3 class="post-title">Auto Labeling</h3>
            
            <div class="post-meta">
              <ul class="post-categories"><li>Python</li><li>Neural Network</li><li>Multi label Classification</li></ul>
            </div>
            <div><p>Auto Labeling은 레이블이 되어있지 않은 데이터에 레이블링을 해주는 기법입니다.</p>
              <p>소수의 데이터에 직접 레이블링을 해주고 기본 Multi Layer Perceptron Model을 만들어서 다수의 데이터를 학습시켰습니다.  </p>
              <p>이 과정에서 하나의 레이블이 아닌 복수의 레이블을 할당할 수 있는 Multi Label Classification을 사용하였습니다. </p>
            </div>
            <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Models/multi_label_classification.ipynb" target="_blank">Multi Label github</a>
    
          </li>
          <li>
            <h3 class="post-title">Text Generation</h3>
          
          <div class="post-meta">
            <ul class="post-categories"><li>Long Short-Term Memory</li><li>Sparse Cross Entropy</li></ul>
          </div>
          <div><p>Coverletter 작성 중, 자주 사용되는 조사, 관용어구를 자동완성 시켜주는 기능입니다.</p>
            <p>LSTM을 사용하여 sequence text data 처리성능을 향상시켰습니다.</p>
            <p>Out-Of-Memory 문제에 대해 Sparse Cross Entropy를 사용하여 memory use를 감소시켰습니다.</p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/tree/fromzero/Models" target="_blank">Text Generation Model github</a>
    
        </li>
        <li>
          <h3 class="post-title">Summerization</h3>
        
        <div class="post-meta">
          <ul class="post-categories"><li>Sequence To Sequence</li><li>Hangul Romanize</li></ul>
        </div>
        <div><p>Coverletter를 한 문장으로 표현할 수 있도록 요약하는 기능입니다.</p>
          <p>한글은 글자의 다양성으로 인해 Out-Of-Memory에 자주 직면합니다. 이를 해결하기 위해 한글 Romanize 기능을 사용하여 memory use를 감소시켰습니다.</p>
          <p></p>
        </div>
        <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Models/text_summerization.ipynb" target="_blank">Summarization Model github</a>
    
      </li>
    
      </div>
    </div>
  </details>
  <h2 id="project-title-text">DB Architecture</h2>
  <div>
    <p>Machine에서 발생되는 데이터의 특성을 고려하여 DB를 설계했습니다.</p>
    <p>기존의 One Table방식의 MySql에서 NoSql로 DB를 전환하며 데이터 검색속도를 향상시켰습니다.</p>
  </div>

</ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
