---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="introduce">
  <div>
  <!-- my about 쓰는 곳 -->
    <h1 id="home-title-text">About</h1>
    <p id="about-text" >Data Engineer 송윤호입니다.</p> 
    <p id="about-text">게임 데이터 수집, DB적재 및 집계의 업무를 수행하고 있습니다.</p>
    <p id="about-text">데이터 엔지니어링 및 데이터 분석에 관심이 많습니다.</p>
  <!-- <h1 id = 'about-text'> </h1>  -->
  </div>

  <div>
    <h1 id="home-title-text">Career</h1>
    <p id="about-text">Advanced Technology Inc</p>
    <ul>
      <li id="about-text">SW Engineer (2021.01~2021.12)</li>
      <li id="about-text">SW Engineer & DataEngineer (2022.12~2023.06)</li>
    </ul>
    <p id="about-text">DRX</p>
    <ul>
      <li id="about-text">DataEngineer (2023.07~)</li>
    </ul>
  </div>

  <div>
    <h2 id="home-title-text">Skill</h2>
    <h2>Language</h2>
    <h2 id="about-text">- Python</h2>
    <h2 id="about-text">- C#</h2>
    <h2>DataEngineering Stack</h2>
    <h2 id="about-text">- MongoDB</h2>
    <h2 id="about-text">- MySql</h2>
    <h2 id="about-text">- Airflow</h2>
    <h2 id="about-text">- GCP</h2>
    <h2>DeepLearning</h2>
    <h2 id="about-text">- NLP</h2> 
    <h2>etc</h2>
    <h2 id="about-text">- PyQt</h2>
  </div> 
  <div>
    <h1 id="home-title-text">Etc</h1>
    <p id="about-text">멀티캠퍼스 NLP 기반 데이터 분석 교육 최우수상 (2019.08~2019.12)</p>
    <p id="about-text">가짜연구소 Data Engineering Study 활동  (2022.08~)</p>
  </div>
</ul>  


<ul class="posts">
    <!-- <li>
      <h1 id="posts-label">posts</h1>
    </li> -->

    <!-- {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%} -->
    <h1 id="home-title-text">NLP Projects</h1>
    <h2 id="project-title-text">AI-Coverletter-Assistant</h2>
    <div>
      <p>Toy 프로젝트로서 Coverletter 작성에 도움이 되는 서비스 제공</p>
      <p>NLP 기술을 이용한 문장생성, 유의어 추천, 제목요약 등의 서비스를 제공하여 Coverletter 작성시간 단축</p>
    </div>

    <details id="details-text">
      <!-- <summary>세부내용</summary> -->
      <div style="padding: 15px;">
        <h3>Used Tech</h3>
        <div id="project-rectangle">
        <li>
          <h3 class="post-title">Crawling</h3>          
          <div class="post-meta">
            <ul class="post-categories"><li>Python</li><li>Multi Thread</li></ul>
          </div>
          <div>
            <p>사람인,잡코리아 등을 통해 Coverletter 데이터 수집</p>
            <p>대량의 데이터 Crawling 위해 Multi Processing 사용</p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Utils/crawling.py" target="_blank" class="link">source code</a>
        </li>
        <li>
          <h3 class="post-title">Auto Labeling</h3>            
          <div class="post-meta">
            <ul class="post-categories"><li>Python</li><li>Neural Network</li><li>Multi label Classification</li></ul>
          </div>
          <div>
            <p>소수의 데이터에 직접 레이블링 후 Multi Layer Perceptron Model을 통해 다수의 데이터를 학습</p>
            <p>하나의 레이블이 아닌 복수의 레이블을 할당할 수 있는 Multi Label Classification을 사용</p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Models/multi_label_classification.ipynb" target="_blank" class="link">source code</a>
        </li>
        <li>
          <h3 class="post-title">Text Generation</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Long Short-Term Memory</li><li>Sparse Cross Entropy</li></ul>
          </div>
          <div>
            <p>Coverletter 작성 중, 자주 사용되는 조사, 관용어구 자동완성 기능</p>
            <p>LSTM 사용하여 sequence text data 처리성능 향상</p>
            <p>Sparse Cross Entropy를 사용하여 Out-Of-Memory 문제 개선</p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/tree/fromzero/Models" target="_blank" class="link">source code</a>
        </li>
        <li>
          <h3 class="post-title">Summerization</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Sequence To Sequence</li><li>Hangul Romanize</li></ul>
          </div>
          <div>
            <p>Coverletter 한 문장 요약 기능</p>
            <p>한글의 글자 다양성으로 인한 Out-Of-Memory 이슈를 한글 Romanize 기능을 통해 개선</p>
          </div>
          <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Models/text_summerization.ipynb" target="_blank" class="link">source code</a>
        </li>
      </div>
    </div>
  </details>
  <br><br>
  <h1 id="home-title-text">Data Engineering Projects</h1>
  <h2 id="project-title-text">Data Pipeline 구축 </h2>
  <div>
    <p>Machine에서 발생되는 데이터의 특성을 고려한 DB 설계</p>
    <p>기존 Single Table방식 DB에서 NoSql로 DB를 전환 및 설계하며 데이터 검색속도 향상</p>
  </div>
  <details id="details-text">
    <div style="padding: 15px;">
      <h3>Used Tech</h3>
      <div id="project-rectangle">
        <li>
          <h3 class="post-title">DB Architecture</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>No Sql</li><li>Sql</li></ul>
          </div>
          <div>
            <p>Machine에서 발생되는 데이터의 특성을 고려한 DB 설계</p>
            <p>기존 Single Table방식 DB에서 NoSql로 DB를 전환 및 설계하며 데이터 검색속도 향상</p>
          </div>
          <!-- <a href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a6640aa5-e757-42dc-97c4-9df0ddce0258/change_db.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230201T134802Z&X-Amz-Expires=86400&X-Amz-Signature=3d3e4c68f87acd627a2389741c28062573391fd5540c0d5611f852eaf4af14e4&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22change_db.pdf%22&x-id=GetObject" target="_blank">세부내용</a> -->
          <a href="https://drive.google.com/file/d/1fgNWaXS47rS-LZP9GvGIQvLYcI0WrdT7/view?usp=sharing" target="_blank" class="link">세부내용</a>
        </li>
        <li>
          <h3 class="post-title">Apply AI In Machine</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>C#</li></ul>
          </div>
          <div>
            <p>AI - Machine 인프라 구축</p>
            <p>Machine내 AI기반 과검 방지 및 검사속도 증가 기능 추가</p>
          </div>
          <!-- <a href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a6640aa5-e757-42dc-97c4-9df0ddce0258/change_db.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230201T134802Z&X-Amz-Expires=86400&X-Amz-Signature=3d3e4c68f87acd627a2389741c28062573391fd5540c0d5611f852eaf4af14e4&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22change_db.pdf%22&x-id=GetObject" target="_blank">세부내용</a> -->
        </li>
        <li>
          <h3 class="post-title">Machine Data Extract</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>C#</li><li>Data 수집</li></ul>
          </div>
          <div>
            <p>Machine 검사시간, 불량 데이터 세부내용 등 데이터 분석에 활용될 정보 생성</p>
            <p>AI 및 DB 적재를 위해 해당 데이터를 csv,json형식 파일로 추출</p>
          </div>
          <!-- <a href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a6640aa5-e757-42dc-97c4-9df0ddce0258/change_db.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230201T134802Z&X-Amz-Expires=86400&X-Amz-Signature=3d3e4c68f87acd627a2389741c28062573391fd5540c0d5611f852eaf4af14e4&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22change_db.pdf%22&x-id=GetObject" target="_blank">세부내용</a> -->
        </li>
        <li>
          <h3 class="post-title">Realtime Data Storing</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Python Scripting</li></ul>
          </div>
          <div>
            <p>Machine에서 발생되는 실시간 데이터 DB 적재 파이프라인 구축</p>
          </div>
          <!-- <a href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a6640aa5-e757-42dc-97c4-9df0ddce0258/change_db.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230201T134802Z&X-Amz-Expires=86400&X-Amz-Signature=3d3e4c68f87acd627a2389741c28062573391fd5540c0d5611f852eaf4af14e4&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22change_db.pdf%22&x-id=GetObject" target="_blank">세부내용</a> -->
        </li>
        <li>
          <h3 class="post-title">Aggregation For Data Analysis</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Nosql Query</li><li>Realtime Aggregation</li></ul>
          </div>
          <div>
            <p>데이터 분석을 위해 실시간 집계 쿼리 작성</p>
            <p>Factory 실시간 모니터링에 나타낼 데이터의 지표,평균,분산 산출</p>
            <p></p>
          </div>
          <!-- <a href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a6640aa5-e757-42dc-97c4-9df0ddce0258/change_db.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230201T134802Z&X-Amz-Expires=86400&X-Amz-Signature=3d3e4c68f87acd627a2389741c28062573391fd5540c0d5611f852eaf4af14e4&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22change_db.pdf%22&x-id=GetObject" target="_blank">세부내용</a> -->
        </li>
      </div>
    </div>
  </details>
  <!-- <h2 id="project-title-text">Data Labeling</h2>
  <div>
    <p>Open Source인 "Labelme" Program을 기반으로 사내 데이터 라벨링 프로그램 개발</p>
    <p>Data Labeling 편의기능 및 AI Train Data Format 변환 기능 등을 추가한 AI 파이프라인 구축</p>
  </div> -->
  <h2 id="project-title-text">Estate-Project</h2>
  <div>
    <p>GCP를 활용한 부동산 데이터 파이프라인 구축 프로젝트</p>
    <p>현 매물 현황 파악 및 분석</p>
    <p>데이터 수집부터 빅쿼리 시각화까지 데이터 파이프라인 구축</p>
    <a href="https://github.com/dbsgh3344/gcp_estate_project" target="_blank" class="link">Github</a>
  </div>  
  <!-- <details id="details-text">
    <div style="padding: 15px;">
      <h3>Used Tech</h3>
      <div id="project-rectangle">
        <li>
          <h3 class="post-title">Workflow 자동화</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Airflow</li><li>ELT</li></ul>
          </div>
          <div>
            <p>daily ELT Process 자동화</p>
            <p>데이터 수집 ~ 집계까지 Process 설계</p>
            <p>재실행시 중복없도록 멱등하게 설계</p>
          </div>          
          <p class="click_toggle" onclick="toggleImage()">Detail architecture</p>          
          <img id="myImage" src="https://github.com/dbsgh3344/gcp_estate_project/assets/29767578/cca9ac58-2aa1-441d-839b-a4bb050482e5" alt="no image" style="display:none ;">
          <a href="https://github.com/dbsgh3344/gcp_estate_project/blob/master/dags/crawling_dag.py" target="_blank" class="link">source code</a>
        </li>
        <li>
          <h3 class="post-title">Crawling</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>Python</li></ul>
          </div>
          <div>
            <p>Naver 부동산 이용</p>
            <p>아파트별 일일 매물량 크롤링</p>
          </div>
          <a href="https://github.com/dbsgh3344/gcp_estate_project/blob/master/extract_data/crawling_estates.py" target="_blank" class="link">source code</a>
        </li>
        <li>
          <h3 class="post-title">Data 분석</h3>
          <div class="post-meta">
            <ul class="post-categories"><li>BigQuery</li><li>SQL</li><li>Looker Studio</li></ul>
          </div>
          <div>
            <p>일일 데이터 매물량 집계 자동화</p>
            <p>일일 부동산 매물량으로 데이터 마트 구성 후 Looker Studio 통한 시각화 Process 설계</p>
          </div>
        </li>
      </div>
    </div>
  </details> -->
  <h2 id="project-title-text">게임 전적 검색 사이트</h2>
  <div>
    <p>게임 내 API 데이터 수집 자동화 및 DB 설계</p>
    <p>유저 데이터 집계 및 게임 지표 통계 산출</p>
    <p>Airflow 활용한 배치 집계</p>
    <details id="details-text">
      <summary>data architecture</summary>
      <img src="/assets/images/wasd_data_architecture.png">
    </details>
  </div>
  <br><br>
  <h1 id="home-title-text">Data Analysis Projects</h1>
  <h2 id="project-title-text">Coil Condensation Prediction</h2>
  <div>
    <p>코일 결로발생 여부 예측 프로젝트</p>
    <p>공장의 온,습도 등의 변수를 사용하여 24시간, 48시간 후의 결로발생 여부를 예측</p>
    <p>Feature Engineering과 시계열 모델 활용</p>
    <a href="https://drive.google.com/file/d/1E1gKqAmxHuHo4Yfkb8ngVjbBFW6XOEM0/view?usp=sharing" target="_blank" class="link">Preprocessing</a>
    <a href="https://drive.google.com/file/d/1JePfAXUFaCk7XTcPU-9PQRr5ukWp2gsI/view?usp=sharing" target="_blank" class="link">Feature Engineering</a>
    <a href="https://drive.google.com/file/d/1lQ3IY_S82IIdglPoeAgNXu6K7ItcupF3/view?usp=sharing" target="_blank" class="link">Create Model</a>
    <a href="https://github.com/dbsgh3344/kaggle_study/tree/master/KMA_Weather" target="_blank" class="link">github</a>
  </div>  
</ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
