---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="introduce">
  <div>
  <!-- my about 쓰는 곳 -->
  <h1>About</h1>
  <h1 id="about-text" >배우는걸 즐기며 성장해나가는 Data Scientist 될 송윤호입니다.  </h1> 
   <h1 id='about-text'>항상 근본적인 원인을 파악하고 문제해결을 하는 것을 삶의 모토로 삼고 있습니다. </h1>
   <!-- <h1 id = 'about-text'> </h1>  -->
  </div>

  <div>
  <h2>Skill</h2>
  <h2 id="about-text">Python</h2>
  <h2 id="about-text">NLP</h2> 
  <h2 id="about-text">Understanding Deep-learning</h2>
  </div> 
</ul>  


  <ul class="posts">
    <!-- <li>
      <h1 id="posts-label">posts</h1>
    </li> -->

    <!-- {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%} -->
    <h1>Portpolio</h1>
    <li>
          <h2 class="post-title">Multi Labeling</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories"><li>Python</li><li>Neural Network</li><li>Multi label Classification</li></ul>
        </div>
        <div><p>Auto Labeling은 레이블이 되어있지 않은 데이터에 레이블링을 해주는 기법입니다.</p>
          <p>소수의 데이터에 직접 레이블링을 해주고 기본 Multi Layer Perceptron Model을 만들어서 다수의 데이터를 학습시켰습니다.  </p>
          <p>이 과정에서 하나의 레이블이 아닌 복수의 레이블을 할당할 수 있는 Multi Label Classification을 사용하였습니다. </p>
        </div>
        <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Models/multi_label_classification.ipynb">Multi Label github</a>

      </li>
      <li>
        <h2 class="post-title">Crawling</h2>
      </a>
      <div class="post-meta">
        <ul class="post-categories"><li>Python</li><li>Multi Thread</li></ul>
      </div>
      <div><p>원하는 데이터가 있다면 직접 수집할 수 있어야 합니다. 데이터 수집을 위해 Crawling을 공부하였습니다.</p>
        <p>대량의 데이터를 Crawling하다보면 오랜 시간이 걸릴 수 있습니다. 시간단축을 위해 Thread 기법을 사용하였습니다.</p>
        <p>Crawling하면서 다중 for문을 사용해야 하는 구간에 다중 thread를 접목해서 시간을 대폭 단축시켰습니다. </p>
      </div>
      <a href="https://github.com/dbsgh3344/AI-Coverletter-Assistant/blob/fromzero/Utils/crawling.py">Multi Thread py script</a>

    </li>




  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
